.add-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-form-category-row {
    display: flex;
    align-items: center;
}

.add-form-category-radio-row {
    display: flex;
    gap: 10px;
}

.add-form-category-label {
    cursor: pointer;
}

label>input[type=radio] {
    visibility: hidden;
}

.selected {
    color: blue;
}

.add-form-subheader {
    font-size: 18px;
    font-weight: bold;
}

.add-form-data-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-form-measurements {
    display: flex;
    gap: 15px;
}

.measurement-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.measurement-input-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.measurement-input {
    text-align: right;
    width: 50px;
}