.add-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-form-category-row {
    display: flex;
    align-items: center;
}

.add-form-category-radio-row {
    display: flex;
    gap: 10px;
}

.add-form-category-label {
    cursor: pointer;
}

label>input[type=radio] {
    visibility: hidden;
}

.selected {
    color: blue;
}

.add-form-subheader {
    font-size: 18px;
    font-weight: bold;
}