.add-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 10px;
}

.add-form-category-row {
    display: flex;
}

.add-form-category-label {
    cursor: pointer;
}

label>input[type=radio] {
    visibility: hidden;
}

.selected {
    color: blue;
}

.add-form-subheader {
    font-size: 16px;
    /* font-weight: bold; */
}

.add-form-data-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-form-measurements {
    display: flex;
    gap: 15px;
}

.measurement-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.measurement-input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.measurement-input {
    text-align: right;
    padding-right: 5px;
    width: 50px;
}

.add-form-buttons-row {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    gap: 15px;
}

.add-form-button {
    height: 40px;
    padding: 5px 10px 5px 10px;
}