.search-select-wrapper {
    display: flex;
    gap: 15px;
}

.search-select-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    cursor: pointer;
}

.search-select-row {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.search-input {
    padding: 5px 10px 5px 10px;
    width: 100%;
}

.search-input-arrow-container {
    position: absolute;
    right: 0;
    z-index: 10;
    cursor: pointer;
}

.select-options-wrapper {
    position: absolute;
    top: 100%;
    z-index: 10;
    padding: 5px 10px 5px 10px;
    width: 100%;
    background-color: rgb(221, 220, 220);
}

.select-option-row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.select-option {
    padding-left: 40px;
}

.select-option:hover {
    background-color: rgb(206, 206, 206);
}