#root {
  display: grid;
  min-height: 100vh;
  padding: 24px 64px 24px 64px;
  background-color: rgb(210, 210, 210);
}

.main-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
}

.main-container {
  display: grid;
  grid-template-columns: minmax(0, 1.5fr) 1fr;
}

.canvas-wrapper {
  height: 100%;
  width: 100%;
  background-color: black;
}

.sidebar-wrapper {
  height: 100%;
  background-color: white;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
}

.sidebar-header-button {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.items-list {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 10px 0px;
  gap: 15px;
  height: 100%;
  list-style-type: none;
  overflow-y: auto;
}

@media only screen and (max-width:920px) {
  #root {
    padding: 12px 24px 12px 24px;
  }

  .main-header {
    font-size: 24px;
  }

  .main-container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(0, 1fr);
  }
}